$base-spacing: 20px;

.characterContainer {
    border: 1px solid white;
    padding: $base-spacing;
    background-color: #b5b5b5;
    position: absolute;
    width: 33vw;
    height: 66vh;
    right: calc(-33vw - 50px);
    top: $base-spacing;
    transition: 0.3s;
    transform: translateX(0px);
}

.animateInFromRight {
    transform: translateX(calc(-33vw - 70px));
}

.characterImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.characterImage {
    width: 75%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}