$base-spacing: 20px;

.inventoryContainer {
    border: 1px solid white;
    padding: $base-spacing;
    background-color: #b5b5b5;
    position: absolute;
    width: 33vw;
    height: 66vh;
    left: calc(-33vw - 50px);
    top: $base-spacing;
    transition: 0.3s;
    transform: translateX(0px);
    overflow-y: scroll;
}

.animateInFromLeft {
    transform: translateX(calc(33vw + 70px));
}
